html, body{
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  background-color:#276ebd;
}


.title{
  text-align:center;
  display:block;
  font-family:arial;
  color:white;
}

.titleh{
  font-size:78pt;
}
.subtitleh{
  font-size:24pt;
}

.link{
  font-size:24pt;
}

.titleplace{
  justify-content:center;
  align-items: center;
  height:100vh;
}
